* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

nav a{
    color: whitesmoke;
    font-size: 1.5em;
}

nav a:hover, footer a:hover{
    color: rgb(161, 161, 161);
}
    
#pic-background{
    background-image: url(test.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#self-pic{
    height: 50%;
    border-radius: 200px;
}

#name-heading{
    background-color: rgba(192, 192, 192, .6);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: .5em;
    padding: .3em;
}

#about-me{
    padding: .5em;
    margin-top: 7em;
    background-color: rgb(230, 230, 230);
}

#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    margin-bottom: 5em;
    max-width: 500px;
}

input{
    width: 30em;
}

textarea{
    width: 30em;
    height: 10em;
    resize: none;
}

footer {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

footer p{
    font-size: 1.5em;
    color: whitesmoke;
}

footer a{
    color: whitesmoke;
}


/* Phone specific css */

@media (max-width: 768px) {
   
    #about-me{
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
        width: calc(100% - 2em);
    }

    input, textarea {
        width: 100%;
        max-width: 100%;
    }
}


/* Portfolio Page */
#fnmoc, #milmentor{
    display: flex;
    background-color: lightslategrey;
    border: 1px solid black;
    margin-top: 1em;
}