* {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}
    
#pic-background{
    background-image: url(test.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; /* Full viewport height */
    /* OR use a specific pixel value like: height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#self-pic{
    height: 50%;
    border-radius: 200px;
}

#about-me{
    margin-top: 4em;
}

#name-heading{
    background-color: silver;
    border: 1px solid black;
    padding: .3em;
}